<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/materialize.css" >
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="collection">
      <li class="collection-item avatar">
        <img src="/images/undefined.jpg" alt="" class="circle">
        <span class="title"><a href="<%=id%>"><%=usuario%></a></span>
        <p>
          <%=texto%>
        </p>
        <a class="secondary-content"><i class="material-icons">favorite_border</i></a>
      </li>
  </body>
</html>
